<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'rental/styles.css' %}">
    <title>Автопрокат - Главная</title>
</head>
<body>
    <h1>Добро пожаловать в автопрокат!</h1>
    <nav>
        <a href="/">Главная</a>
        <a href="/cars/">Автомобили</a>
        <a href="/about/">О нас</a>
        <a href="/contact/">Контакты</a>
    </nav>
    <section>
        <h2>Наши услуги</h2>
        <p>Мы предлагаем широкий выбор автомобилей для аренды по доступным ценам. Независимо от того, нужен ли вам автомобиль для деловой поездки или для отдыха, у нас есть то, что вам нужно!</p>
    </section>
</body>
</html>
